<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TobiTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <TobiTools.Properties.Settings>
            <setting name="xOri" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="yOri" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="zOri" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="oOri" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="xDest" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="yDest" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="zDest" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="oDest" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="x1Orient" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="y1Orient" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="z1Orient" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="x2Orient" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="y2Orient" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="z2Orient" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ImgFolder" serializeAs="String">
                <value>images</value>
            </setting>
        </TobiTools.Properties.Settings>
    </userSettings>
</configuration>